# TypeScript
dist/
*.tsbuildinfo

# Astro
.astro/

# MacOS
.DS_Store

# Node Modules
node_modules/

# IDEs and editors
.vscode/
.zed/
.cursor/
.kiro/
.idea/
.devin/

# IA Agents
.claude/
.pi/
.gemini/
.codex/
.openclaude/

GEMINI.md
CLAUDE.md

opencode.json
